<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrawlBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CrawlBot.Properties.Settings>
            <setting name="maru_root" serializeAs="String">
                <value>https://manamoa.net/bbs/</value>
            </setting>
            <setting name="manga_page" serializeAs="String">
                <value>board.php?bo_table=manga&amp;wr_id=</value>
            </setting>
            <setting name="detail_page" serializeAs="String">
                <value>page.php?hid=manga_detail&amp;manga_id=</value>
            </setting>
        </CrawlBot.Properties.Settings>
    </userSettings>
</configuration>